<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>AWS 플레이트</title>
    <style type="text/css">

    </style>
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">AWS 플레이트</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="modal-trigger" href="#admin">Admin</a></li>
            <li><a class="modal-trigger" href="#place">맛집추가</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="banner" style="background-image:url({{ url_for('static', filename='parallax1.jpg') }})">
        <div class="inner-content">
          <h3>솔직한 리뷰, 믿을 수 있는 평점<br>AWS 플레이트 {{service_info}}</h3>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="container">
      <section>
        <h4 class="header">믿고 보는 맛집 리스트</h4>
        <div class="row">
          {% for post in posts %}
          <div class="col s12 m4">
            <div class="card modal-trigger" data-target="modal1">
              <div class="card-image" style="background-image:url({{post.image_url}})">
                <div class="card-centered-content">
                  <div class="title">{{post.title}}</div>
                  <div class="sub-title">&#8220;{{post.quote}}&#8221;</div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      </div>



    </main>
    <!-- Modal Structure -->
    <div id="admin" class="modal">
      <div class="modal-content">
        <h4>RDS와 S3설정</h4>
        <p>RDS와 S3와 관련된 내용을 정확히 입력해주세요!</p>
        <div class="row">
          <form class="col s12" id="config" method="post" action="/config">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Placeholder" type="text" class="validate" name="rds-endpoint" value="{{data.rds_endpoint}}">
                <label for="first_name">RDS Endpoint</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="Placeholder" type="text" class="validate" name="rds-user" value="{{data.rds_user}}">
                <label for="first_name">RDS user</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="Placeholder" type="password" class="validate" name="rds-password" value="{{data.rds_password}}">
                <label for="first_name">RDS password</label>
              </div>

              <div class="input-field col s6">
                <input placeholder="Placeholder" type="text" class="validate" name="s3-bucketname" value="{{data.s3_bucketname}}">
                <label for="last_name">S3 bucket name</label>
              </div>
              <div class="input-field col s6">
                <input placeholder="us-east-1" type="text" class="validate" name="s3-region" value="{{data.s3_region}}">
                <label for="last_name">S3 region</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">닫기</a>
        <a href="#!" class="submit-btn waves-effect waves-green btn-flat">설정 저장</a>
      </div>
    </div>

    <div id="place" class="modal">
      <div class="modal-content">
        <h4>맛집추가</h4>
        <p>맛집을 추가해주세요</p>
        <div class="row">
          <form class="col s12" id="posting" method="post" action="/post" enctype="multipart/form-data">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="홍대 맛집" type="text" class="validate" name="title">
                <label for="first_name">상점명</label>
              </div>
              <div class="input-field col s12">
                <input placeholder="최고의 맛집!" type="text" class="validate" name="quote">
                <label for="last_name">소개</label>
              </div>

              <div class="file-field input-field col s12">
                <div class="btn">
                  <span>사진</span>
                  <input type="file" name="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">닫기</a>
        <a href="#!" class="form-submit-btn waves-effect waves-green btn-flat">설정 저장</a>
      </div>
    </div>
    <footer>


      <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <script>
      $(document).ready(function(){
        $('.modal').modal();

        $('.submit-btn').click(function(){
          var config_data = $('#config').serializeArray();
          for (var data of config_data){
            console.log(data.value);
            if (!data.value){
              alert("RDS와 S3설정을 다시 확인해주세요!");
              return;
            }
          }
         $('#config').submit();

        });

        $('.form-submit-btn').click(function(){
          console.log($('#config').serializeArray());
          var config_data = $('#config').serializeArray();
          for (var data of config_data){
            console.log(data.value);
            if (!data.value){
              alert("RDS와 S3설정을 다시 확인해주세요!");
              return;
            }
          }
          $('#posting').submit();
        });
     });
    </script>
  </body>
</html>
